.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url(../../img/header_picture.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.8),
        rgba($color-secondary, 0.8)
      ),
      url(../../img/header_picture.jpeg);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    &__logo1 {
      margin-left: 5vw;
      font-size: 10rem;
      color: $color-primary;
    }

    &__logo2 {
      font-size: 10rem;
      color: $color-primary;
    }
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
