.composition {
  display: flex;

  @media only screen and (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

.img1 {
  width: 30rem;
  height: auto;
  border: 5px solid $color-primary;
  transition: all 0.3s ease-in-out;
  border-radius: 5%;

  &:hover {
    z-index: 100;
    scale: (1.1);
    border-radius: 30%;
  }

  @media only screen and (max-width: 1100px) {
    width: 30rem;
    height: auto;
    transform: translate(0rem, 0rem);
    margin-bottom: 1rem;
  }
}

.img2 {
  width: 30rem;
  height: auto;
  transform: translate(-15rem, 15rem);
  border: 5px solid $color-primary;
  transition: all 0.3s ease-in-out;
  border-radius: 5%;

  &:hover {
    z-index: 100;
    scale: (1.1);
    border-radius: 30%;
  }

  @media only screen and (max-width: 1100px) {
    width: 30rem;
    height: auto;
    transform: translate(0rem, 0rem);
    margin-bottom: 1rem;
  }
}

.img3 {
  width: 30rem;
  height: auto;
  transform: translate(-35rem, -5rem);
  border: 5px solid $color-primary;
  transition: all 0.3s ease-in-out;
  border-radius: 5%;

  &:hover {
    z-index: 100;
    scale: (1.1);
    border-radius: 30%;
  }

  @media only screen and (max-width: 1100px) {
    width: 30rem;
    height: auto;
    transform: translate(0rem, 0rem);
    margin-bottom: 1rem;
  }
}

.feature-box {
  background-color: rgba($color-grey-dark-3, 1);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  color: $color-white;

  height: 20vh;
  width: 15vw;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;

  @include respond(tab-port) {
    padding: 2rem;
  }

  @include respond(tab-land) {
    height: 15vh;
    width: 10vh;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-secondary,
      $color-primary
    );
    color: transparent;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.row {
  @media only screen and (max-width: 75em) {
    height: 10vh;
    padding: 5vw;
  }
}

.justify {
  @include respond(phone) {
    display: flex;
    justify-content: center;
  }
}

.ind2-feature-box {
  background-color: rgba($color-grey-dark-3, 1);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  height: 23rem;
  width: 23rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;

  @include respond(tab-port) {
    padding: 2rem;
  }

  @include respond(tab-land) {
    height: auto;
    width: auto;
  }
}

